.container{
    background-color: bisque;
}
.container1{
    background-color: rgb(13, 202, 240);
}
.container2{
    background-color:pink;
}
.container3{
    background-color: rgb(112, 202, 112);
}
.bold{
    font-family: 'Times New Roman', Times, serif;
    
    text-decoration: underline;
}
.bold1{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-decoration: underline;
}
.bold2{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    text-decoration: underline;
}
.img{
    width: 60px;
    height: 60px;
}
.circle1{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 35px;
    background: bisque;
    border: 3px solid bisque;
    color: #000;
    text-align: center;
    
}
.circle1a{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 35px;
    background: bisque;
    border: 3px solid bisque;
    color: #000;
    text-align: center;
    font-size: 20px;
}
.circle2{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: rgb(13, 202, 240);
    border: 3px solid rgb(13, 202, 240);
    color: #000;
    text-align: center;
    
}
.circle2a{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: rgb(13, 202, 240);
    border: 3px solid rgb(13, 202, 240);
    color: #000;
    text-align: center;
    font-size: 20px;
    
}
.circle3{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: pink;
    border: 3px solid pink;
    color: #000;
    text-align: center;
    
}
.circle3a{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    background: pink;
    border: 3px solid pink;
    color: #000;
    text-align: center;
    font-size: 20px;
    
}
.circle4{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    background: rgb(112, 202, 112);
    border: 3px solid rgb(112, 202, 112);
    color: #000;
    text-align: center;
    
}
.circle4a{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 40px;
    background: rgb(112, 202, 112);
    border: 3px solid rgb(112, 202, 112);
    color: #000;
    text-align: center;
    font-size: 20px;
    
}
.judg{
   color: rgb(224, 185, 136);
   text-decoration: underline;
   font-size: 20px;
}
.delay{
    text-align: center;
    padding-left: 120px;
  
}

.arrow{
    width: 70px;
    height: 70px;
}
.text{
    padding-left: 34px;
}
.margin{
   text-align: left;
}
.margin1{
    text-align: right;
}